<label>Name:</label>
  <%= pokemon.get('name') %>
<label>Image URL:</label>
  <img src="<%= pokemon.get('image_url') %>">
<label>Type:</label>
  <%= pokemon.get('poke_type') %>
<label>Attack:</label>
  <%= pokemon.get('attack') %>
<label>Defense:</label>
  <%= pokemon.get('defense') %>
<label>Move #1:</label>
  <%= pokemon.get('moves')[0] %>
<label>Move #2:</label>
  <%= pokemon.get('moves')[1] %>
<label>Toys</label>
<ul class='toys'></ul>
